#appTitle{
	font-size: 25px;
	overflow: visible;
	text-align: center;
	line-height: 1
}

.shadow-drop-center {
	animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.content-block{
	text-align: center;
}

#costo {
	margin-bottom: -24px;
}

.bigInput {
	height: 54px !important;
	font-size: 40px !important;
	text-align: center;
}

#titleConfig {
	font-size: 20px;
	margin-bottom: 25px;
}

#venta {
	color: green;
	padding-bottom: 1%;
	font-size: 27px;
}

#venta>p {
	margin-top: -35px;
}

#title_inset  {
	margin-bottom: 15px;
}

.content-block-title {
	margin-bottom: 48px;
}

.dataInfo {
	margin-bottom: -12px;
	color: grey;
}

.close-picker {
	color: white !important;
	margin-right: 20px !important;
}

.calc-nro{
	color: black !important;
}

.buttons-row>.button{
	border: 1px solid #ddd;
}

.picker-modal {
  height: 345px;
}

.picker-modal-inner > div:nth-child(1) {
	//font-weight: bold;
}

p.buttons-row> a{
	font-size: 25px;
}

p.buttons-row> a> img{
	width: 25px;
}

.close-notification {
	display: none
}

/**
 * ----------------------------------------
 * animation shadow-drop-center
 * ----------------------------------------
 */
@keyframes shadow-drop-center {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}
